.btn {
    padding: 0.5rem 1rem;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 1rem;
    cursor: pointer;
    width: clamp(200px, 100%, 500px);
}

.btn:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}