@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using RichTextEditor.BaseComponents.InputMain
@inherits InputMain<System.Collections.Generic.List<Classes.cFileUpload>?>
@implements IAsyncDisposable

<style>
    .file-input__wrapper {
        position: relative;
    }

    .file-input {
        display: flex;
        padding: 0.5rem 1rem;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 1rem;
        transition: filter 150ms var(--transition-ease-out);
    }

        .file-input[data-state="dragover"] {
            filter: brightness(0.95);
        }

    .file-input__wrapper > ::deep input[type="file"] {
        position: absolute;
        inset: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        border: 0;
        z-index: 1;
        cursor: pointer;
    }

        .file-input__wrapper > ::deep input[type="file"]::file-selector-button {
            display: none;
        }

    .file-input__wrapper > ::deep input:focus + label {
        outline: 2px auto var(--clr-input-outline);
    }
</style>

<InputContainer Ref=@this TRef=@RichTextEditor.BaseComponents.FileInput TValue=@(System.Collections.Generic.List<Classes.cFileUpload>)>
    <div class="file-input__wrapper">
        <Microsoft.AspNetCore.Components.Forms.InputFile OnChange=@subHandleFileChange @attributes=@Attributes @ref=fobjFileInputRef id=@Id name=@Id disabled=@prpIsDisabled multiple=@(Type == enumType.typMultipleFiles) />
        <label for=@Id class="file-input" data-state="default" @ref=@fobjFileLabelRef>
            @if (ChildContent != null)
            {
                @ChildContent(mobjCurrentValue)
            }
            else
            {
                <p style="font-size: 0.9rem;">
                    <span style="font-weight: 500;">Choose File</span>
                    <span style="margin-left: 0.5rem; font-size: 0.8rem; color: #222;">
                        @(mobjCurrentValue?.Count > 0 ? (
                                        Type == enumType.typSingleFile ? mobjCurrentValue.FirstOrDefault()?.mstrName : $"{mobjCurrentValue.Count} files selected")
                                        : "No files selected")
                    </span>
                </p>
            }
        </label>
    </div>
</InputContainer>

@code {
    #region Enums
    public enum enumType
    {
        typSingleFile = 0,
        typMultipleFiles = 10,
        typImage = 20,
    }

    public enum enumFileType
    {
        typAll = 0,
        typImages = 10
    }
    #endregion

    #region Params
    [Parameter] public Microsoft.AspNetCore.Components.RenderFragment<System.Collections.Generic.List<Classes.cFileUpload>?>? ChildContent { get; set; } = null;
    [Parameter] public enumType Type { get; set; } = enumType.typMultipleFiles;
    [Parameter] public Microsoft.AspNetCore.Components.EventCallback<Classes.cFileUploadEventArgs> OnFileDrop { get; set; }
    [Parameter] public System.Int64 MaxFileSizeMB { get; set; } = 50;
    [Parameter] public enumFileType AcceptedFileTypes { get; set; } = enumFileType.typAll;
    #endregion

    #region Props
    private System.Int64 mintMaxFileSize => MaxFileSizeMB * 1024 * 1024;
    private Microsoft.AspNetCore.Components.Forms.InputFile? fobjFileInputRef { get; set; } = null;
    private Microsoft.AspNetCore.Components.ElementReference? fobjFileLabelRef { get; set; } = null;
    #endregion

    #region OnAfterRenderAsync
    protected async override System.Threading.Tasks.Task OnAfterRenderAsync(System.Boolean firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (!firstRender) return;

        try
        {
            await mobjJSRuntime.InvokeVoidAsync("js", @"
                const fileInputRef = params[0];
                const fileLabelRef = params[1];

                fileInputRef.addEventListener('dragover', () => {
                    // Perform logic to add class for appearance or something
                    fileLabelRef.setAttribute('data-state', 'dragover');
                });

                fileInputRef.addEventListener('dragleave', () => {
                    // Perform logic to remove class that was added in the 'dragover' event
                    fileLabelRef.setAttribute('data-state', 'default');
                });
                fileInputRef.addEventListener('drop', (event) => {
                    // Perform logic to remove class that was added in the 'dragover' event
                    fileLabelRef.setAttribute('data-state', 'default');
                });
            ", fobjFileInputRef?.Element, fobjFileLabelRef);
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region subHandleFileChange
    private void subHandleFileChange(Microsoft.AspNetCore.Components.Forms.InputFileChangeEventArgs pobjUploadEvent)
    {
        try
        {
            System.Collections.Generic.List<Classes.cFileUpload> alobjFileUploads;
            if (Type == enumType.typMultipleFiles && mobjCurrentValue != null) {
                alobjFileUploads = mobjCurrentValue;
            } else {
                alobjFileUploads = new System.Collections.Generic.List<Classes.cFileUpload>();
            }

            // Handle file upload and stream
            IReadOnlyList<IBrowserFile> alobjFiles = pobjUploadEvent.GetMultipleFiles();

            foreach (IBrowserFile objFile in alobjFiles)
            {
                var size = objFile.Size;
                var name = objFile.Name;

                Classes.cFileUpload objFileUpload = new Classes.cFileUpload();

                if (objFile.Size > mintMaxFileSize) objFileUpload.mstrErrorMessage = $"File exceeds max upload size ({Classes.Helpers.ValueDisplayConverter.FormatBytes(mintMaxFileSize)})";

                System.Int32 intLastFileNumber = alobjFileUploads.Where((pobjFile) => pobjFile.mstrName == objFile.Name).ToList().OrderBy((pobjFile) => pobjFile.mintDuplicateNumber).LastOrDefault()?.mintDuplicateNumber ?? 0;

                objFileUpload = new Classes.cFileUpload
                    {
                        mstrName = objFile.Name,
                        mintSize = objFile.Size,
                        mobjFile = objFile,
                        mintDuplicateNumber = intLastFileNumber + 1,
                    };


                alobjFileUploads.Add(objFileUpload);
                OnFileDrop.InvokeAsync(new Classes.cFileUploadEventArgs(objFileUpload)); // If an error occurs, return null instead of the file
            }

            mobjCurrentValue = alobjFileUploads;
        }
        catch (System.Exception ex)
        {
            subSetLastError(System.Reflection.MethodBase.GetCurrentMethod().Name, ex.Message);
        }
    }
    #endregion

    #region DisposeAsync
    async System.Threading.Tasks.ValueTask IAsyncDisposable.DisposeAsync()
    {
        await mobjJSRuntime.InvokeVoidAsync("js", @"
                const fileInputRef = params[0];
                const fileLabelRef = params[1];

                fileInputRef.removeEventListener('dragover', () => {
                    // Perform logic to add class for appearance or something
                    fileLabelRef.setAttribute('data-state', 'dragover');
                });

                fileInputRef.removeEventListener('dragleave', () => {
                    // Perform logic to remove class that was added in the 'dragover' event
                    fileLabelRef.setAttribute('data-state', 'default');
                });
                fileInputRef.removeEventListener('drop', (event) => {
                    // Perform logic to remove class that was added in the 'dragover' event
                    fileLabelRef.setAttribute('data-state', 'default');
                });
            ", fobjFileInputRef?.Element, fobjFileLabelRef);
    }
    #endregion
}
